:root {
    --prime-text-color: #434455;
    --title-text-color:#2E2F42;
    --accent-color: #4D5AE5;
    --white-text: #FFFFFF;
    --white:#F4F4FD;
    --white-background: #E7E9FC;
    --background-total: #E5E5E5;
}
p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.03em;
   
}
.container {
    width: 1158px; 
    padding-left: 15px;
    padding-right: 15px;
    
    margin: 0 auto;}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
    
}
.section {
   
    padding-bottom: 120px;
}
img {
    display: block;
    width: 100%;
    height: auto;
}

.web {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
color: var(--accent-color);
text-transform: uppercase;
}
.studio {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;

text-transform: uppercase;
color: var(--title-text-color);
}
.header {
background-color: var(--white-text);
padding-top: 24px;
padding-bottom: 24px;
border-bottom: 1px solid #E7E9FC;
}
.logo  {
    margin-right: 76px;
}
.container-header {
    display: flex;
}
.header-navigation {
    display: flex;
}
.header-list {
    display: flex;
   
}
.list {
    margin-left: auto;
}
.description {
    position:
absolute; 
width: 1px; 
height: 1px; 
margin:
-1px; 
padding: 0; 
overflow:
hidden; 
border: 0; 
clip: rect(0
0 0 0); 
}
.header-item:not( :last-child){
    margin-right: 40px;
}
.header-link {
 font-weight: 500;

letter-spacing: 0.02em;
color: var(--title-text-color);
}
.header-link:hover,.header-link:focus  {
    color: var(--accent-color);
}

.contact {
    font-weight: 400;

letter-spacing: 0.02em;
color: var(--prime-text-color);
}
.contact  {
font-weight: 400;

letter-spacing: 0.02em;
color: var(--prime-text-color);
}
.list {
    display: flex;
}
.contact-list:not( :last-child) {
    margin-right: 40px;
} 
.contact-list:hover {
    color: var(--accent-color);
}
.contact-list:focus {
    color: var(--accent-color);
}
.hero-section-one {
    background-color: var(--title-text-color);
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}
.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.09;

color: var(--white-text);
margin-bottom: 48px;
width: 494px;
text-align: center;
margin-left: auto;
margin-right: auto;



}
.hero-section {
    padding-bottom: 0;
}
.hero-section-two {
    padding-bottom: 120px;
}
.one {
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 24px;
}
.hero-btn {
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.04em;
color: var(--white-text);
cursor: pointer;
background: var(--accent-color);
border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding: 16px 32px;

}
.hero-btn:hover {
    color: var(--white-text);
    background: #404BBF; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.hero-title-two {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-text-color);
margin-bottom: 8px;
}
.hero-text {
font-weight: 400;
letter-spacing: 0.02em;
color: var(--prime-text-color);
}
.title {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--title-text-color);
margin-bottom: 72px;
text-align: center;
}
.card-one{
    gap:  24px;   
}
.card-two {
    gap: 24px;
}
.team {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-text-color);
background-color: var(--white-text);
margin-bottom: 8px;
text-align: center;

}
.hero-section-team {
background: var(--white);
padding-top: 120px;
padding-bottom: 120px;
}
.activity {
font-weight: 400;
letter-spacing: 0.02em;
color: var(--prime-text-color);
margin-bottom: 32px; 
text-align: center;
}
.ending-text {
font-weight: 400;
letter-spacing: 0.02em;
color: var(--white-background); 
width: 264px;
}
.team-link {
background: var(--white-text);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;

}
.photo {
    margin-bottom: 32px;
}
.studio-ending {
font-family: 'Raleway',sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
color: var(--white);
text-transform: uppercase;
}
.ending {
    background: var(--title-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
    align-self: start;

}
.logo-ending {
    margin-bottom: 16px;
}

/* ------------Porfolio */
.logo-web {
    font-family: 'Raleway',sans-serif;
   font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
color: var(--accent-color);
text-transform: uppercase;
}
.logo-studio {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
text-transform: uppercase;
color: var(--title-text-color);
text-transform: uppercase;
}
.portfolio {
    position:
absolute; 
width: 1px; 
height: 1px; 
margin:
-1px; 
padding: 0; 
overflow:
hidden; 
border: 0; 
clip: rect(0
0 0 0); 
}
.cap {
    background: var(--white-text);
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}
.cap-navigation {
    display: flex;
}
.cap-list {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--title-text-color); 
}
.cap-link {
    gap: 40px;
}
.container-cap {
    display: flex;
}
.cap-list:hover, .cap-list:focus  {
    color: var(--accent-color);
}
.contact:hover, .contact:focus  {
    color: var(--accent-color)
}


.list {
    list-style: none;
}
.link {
    text-decoration: none;
    }
.contact{
    font-weight: 400;
   letter-spacing: 0.02em;
    color: var(--prime-text-color); 
}
.midle-btn {
 display: flex;
 flex-direction: row;
 justify-content: center ;
 align-items: center;
 padding: 12px 24px;
 margin-right: 24px;
 border: 1px solid #E7E9FC;
 border-radius: 4px;
 font-weight: 500;
 text-align: center;
 
}
.button {
    padding-top: 96px;
    justify-content: center ;
    padding-bottom: 72px;
}
.midle-btn {
font-family: 'Roboto';
font-weight: 500;
letter-spacing: 0.04em;
cursor: pointer;
color: var(--accent-color)
}

.midle-btn:hover,.midle-btn:focus {
     color: var(--white-text);
    background: #404BBF; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.img-card {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 120px;
    column-gap: 24px;
    row-gap: 48px;
   
}
.midle-item {
    background-color:var(--white-text);
    margin-right: 24p;
    background: #FFFFFF;
}
.gap {
    column-gap: 24px;
    row-gap: 48px;
    display: flex;
}

.midle-item .link {
    margin-bottom: 32px;
}

.midle-description{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-text-color);
margin-bottom: 8px;


}
.midle-text {
font-weight: 400;
letter-spacing: 0.02em;
color: var(--prime-text-color);



}
.logo-studio-end {
font-family: 'Raleway',sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
color: var(--white);
text-transform: uppercase;
}
.app {
 border-bottom:  1px solid #E7E9FC;
 border-right: 1px solid #E7E9FC;
 border-left: 1px solid #E7E9FC;
 border-top: 1px solid transparent;
padding-top: 32px;
padding-bottom: 32px;
padding-left: 15px;
}